.links__container{
    background-color: #fff;
    padding: 5%;
    display: flex;
    width: 100%;
}



.links__container .links__img{
    flex-basis: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.links__container .links__img .links__img1{
    flex-basis: 40%;
    width: 100%;
    
}

.links__container .links__img .links__img1 img{
    width: 70%;
}

.links__container .links__img .links__img2 img{
    width: 50%;
}

.links__container .links__img .links__img2{
    flex-basis: 60%;
    width: 100%;
    
}

.links__container .links__1{
    flex-basis: 15%;
    width: 100%;
}

.links__container .links__1 h3{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;

}


.links__container .links__1 p{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;

}


.links__container .links__2{
    flex-basis: 15%;
    width: 100%;
}


.links__container .links__2 h3{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;

}


.links__container .links__2 p{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;

}

.links__container .links__3{
    flex-basis: 15%;
    width: 100%;
}

.links__container .links__3 h3{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;

}


.links__container .links__3 p{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;

}


.links__container .links__4{
    flex-basis: 30%;
    width: 100%;
    text-align: end;
}

.links__container .links__4 .links__icons{
    font-size: 25px;
    font-weight: 600;
    padding-right: 10%;
    padding-bottom: 15px;
}

.links__container .links__4 .links__icons i{
    margin-right: 15px;
}

.links__container .links__4 a{
    text-decoration: none;
    color: #101427;
    font-size: 20px;
    display: block;
}

.links__container .links__4 a[href^="mailto:"]{
    padding-bottom: 10px;
}