.middle__words{
    padding-left: 10%;
    padding-right: 30%;
    display: flex;
}

.middle__words .box1{
    flex-basis: 35%;
    margin-left: 2%;
}

.middle__words .box2{
    flex-basis: 75%;
}

.middle__words .box2 .first__word{
    font-size: 3.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 70px;
    color: #122237;
}

.middle__words .box2 .middle__word{
    font-size: 1.8rem;
    font-weight: 100;
}
.middle__words img{
   width: 70%;
}

.middle__words .box2  .icon{
    padding-right: 50px;
    font-size:3rem;
    padding-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.middle__words .box2 .last__word a{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    line-height: 60px;
    text-decoration: none;
    font-size: 2rem;
    color: #122237;
    margin-left: 10px;
    
}

/* @media screen and (max-width:1500px){
    .middle__words{
        flex-direction: column;
        padding: 20%;
        padding-top: 2%;
    }

    .middle__words .box2 .first__word{
        font-size: 2.5rem;
    }
    
    .middle__words .box2 .middle__word{
        font-size: 1.3rem;
    }
    .middle__words img{
       width: 50%;
       padding-bottom: 5%;
    }
    
}


@media screen and (max-width:700px){
    .middle__words{
        flex-direction: column;
        padding: 20%;
        padding-top: 2%;
    }

    .middle__words .box2 .first__word{
        font-size: 1.5rem;
        line-height: normal;
    }
    
    .middle__words .box2 .middle__word{
        font-size: 1rem;
    }
    .middle__words img{
       width: 50%;
    }

    .middle__words .box2 .last__word a{
        font-size: 1.2rem;
        line-height: normal;
        
    }
    
}
 */
